.abc{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
   padding-bottom: 20px;
   padding-top: 20px;
  
}
.pqr{
    margin-top: -80px;
    background-color: rgb(249, 235, 235);
    padding: 30px;
}

.def{
    line-height: 50px;
}